
.fundo {
  background-color: #000000;
  color: #ffffff;
}

.fundo-text {
  color: #ffffff;
}

.borda {
  border: 2px solid #ffffff;
}

.botoes {
  background-color: #C0F205;
  color: #000000;
}

.botoes-text {
  color: #C0F205;
}

.botoes-background {
  background-color: #000000;
  border: 2px solid #C0F205;
}

.botoes-background:hover {
  background-color: #C0F205;
  border: 2px solid #C0F205;
}

.texto {
  color: #000000;
}
